@model IEnumerable<ReservationProject.DATA.EF.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerAssest.AssetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.ReservationMax)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerAssest.AssetName)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Location.ReservationMax)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) <span>|</span>
                }
                @Html.ActionLink("Details", "Details", new { id = item.ReservationID }) |
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })}
            </td>
        </tr>
    }

</table>
